<?xml version="1.0"?>
<launch>
  <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find testing)/urdf/ugv_rviz.xacro'" />

  <node name="sim_tf_pub" pkg="testing" type="sim_tf_pub"/>
  <include file="$(find costmap_2d)/launch/sim_example.launch" />
  
  <!-- Show in Rviz   -->
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find testing)/launch/ugv.rviz"/> -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find testing)/rviz/urdf.rviz"/>

</launch>
